<h2>HTML Table</h2>

<table>
  <tr>
    <th>FullaName</th>
    <th>age</th>
    <th>Email</th>
    <th>adress</th>
    <th>Action</th>
  </tr>
 {{#each data}}  
  <tr>
    <td>{{this.fullName}}</td>
    <td>{{this.age}}</td>
    <td>{{this.email}}</td>
    <td>{{this.adress}}</td>
    <td>
        <button>Edit</button>
        <button>Create</button>
        <button>Delete</button>
    </td>
  </tr>
 {{/each }}
</table>

<form action="/action_page.php" class="form">
  <label for="fullName">full name:</label><br>
  <input type="text" id="fullname" name="fname"><br>
  <label for="age">age:</label><br>
  <input type="text" id="age" name="age"><br>
  <label for="lastName">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="lastName">adress:</label><br>
  <input type="text" id="adress" name="adress">
  <br><br>
  <input type="submit" value="Submit">
</form> 