<h2>HTML Table</h2>

<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>adress</th>
    <th>Action</th>
  </tr>
 {{#each data}}  
  <tr>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.adress}}</td>
    <td>
        <button>Edit</button>
        <button>Create</button>
        <button>Delete</button>
    </td>
  </tr>
 {{/each }}
</table>