<h2>HTML Table</h2>

<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>adress</th>
  </tr>
 {{#each data}}  
  <tr>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.adress}}</td>
  </tr>
 {{/each }}
</table>